<<<<<<< HEAD
.header {
    /* width: 100%;
    height: 50px; */
    /* background-image: linear-gradient(90deg, #0af, #0085ff); */
    /* position: sticky;
    z-index: 999;
    top: 0; */
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
}

.header > a {
    padding: 20px;
}

/* 
.search {
    width: 90%;
    height: 30px;
    background: #fff;
    outline: none;
    border: none;
} */
=======
.table {
	padding: 20px;
	display: flex;
	flex-direction: column;
}
>>>>>>> 8d25955ed6df21f06f65f5f011ca7bd9a7300c8a
