.card-info {
    display: flex;
    padding: 15px;
    flex-direction: column;

    .card-top {
        display: flex;
        width: 100%;

        .card-title {
            width: 64%;
            vertical-align: middle;
            color: #222;
            font-size: 17px;
            line-height: 21px;
            font-weight: normal;
            overflow: hidden;
        }

        .card-image {
            width: 36%;
            height: 80px;

            img {
                width: 100%;
                height: 100%;
            }
            overflow: hidden;
        }
    }

    .card-bottom {
        padding-bottom: 10px;
        font-size: 10px;
        color: #ccc;
        border-bottom: 1px solid rgba(221, 221, 221, 0.6);
    }
}