.header {
    display: block;
    z-index: 999;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .top-bar {
        display: flex;
        padding: 0px 20px;
        justify-content: space-between;
        align-items: center;
        background: #d43d3d;
        height: 44px;
        line-height: 44px;

        .abs-l {
            background: url('//s3.pstatp.com/growth/mobile_list/image/feed_ic_message_normal@3x_f2ea949f.png') no-repeat;
            background-size: contain;
            width: 32px;
            height: 25px;
        }

        .abs-c {
            background: url("//s3b.pstatp.com/growth/mobile_list/image/wap_logo@3x_581de69e.png") no-repeat right center;
            width: 83px;
            height: 72px;
            background-size: 83px !important;
        }

        .abs-r {
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url("//s3.pstatp.com/growth/mobile_list/image/feed_ic_search_normal@3x_0f198e56.png") no-repeat center;
            background-size: contain;
        }
    }
}